html{
  scroll-behavior: smooth;
}

*{
    padding: 0 ; 
    margin: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Cormorant Garamond', serif;
    font-size: 0.98em;
    font-weight: 600;
    line-height: 1.7;
    color: #2b2b2b; 
 }


 /*hero-section*/
 .hero{
   display: flex;
   align-items: center;
   justify-content: center;
    min-height: 80vh;
   background-image: url(img/serene-spa.1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 10;
 }
 .hero::before {
   content: "";
   position: absolute;
   top: 0 ;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   
 }

 .hero >* {
   position: relative;
 }
 /*navbar*/
 
 .navbar{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px 15px;
    z-index: 20;
    
 }
 .navbar ul{
    display: flex;
    gap: 1.3em;
    list-style: none;
 }
 
 .navbar ul a{
    position: relative;
    text-decoration: none;
    font-weight: 900;
    color: #3f3f3f;
    font-size: 1.1em;
    letter-spacing: 1px;
 }
 .navbar ul a:hover{
   color: #929292;
   transition: ease-in-out 0.3s;
 }

 .navbar ul a::before{
   content: "";
   position: absolute;
   left: 0;
   bottom: -2px;
   width: 0;
   height: 2px;
   background-color: black;
   transition: width 0.5s ease;
  
 }
 .navbar ul a:hover::before{
   width: 100%;
 }

 .mobile-nav{
  display: none;
 }
 .burger{
  display: flex;
  align-items: center;
 
 }
 .burger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  
 }

 .burger-menu span{
  
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease-in-out;
  z-index: 999;
 }
 
 
 .burger-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 5px);
  background-color: rgb(176, 0, 0);
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -5px);
  background-color: rgba(176, 0, 0);
}


.burger-menu span:first-child {
  transform:none;
}
.burger-menu span:first-child {
  opacity: 1;
}
.burger-menu span:first-child {
  transform:none;
}
 /*hero-content*/ 
 
 .hero-content{
    max-width: 450px;
    text-align: center;
    padding: 30px 10px;
    color: whitesmoke;
   
 }

 .hero-content .title h3{
   font-family: 'Great Vibes', cursive;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.5em;
 }
 .hero-content .title h1{
   letter-spacing: 2px;
   font-size: 2.2em;
   text-transform: uppercase;
 }

 .booking-btn{
   margin-top: 15px;
 }
 .booking-btn a{
   position: relative;
   text-decoration: none;
   font-size: 1.25em;
   font-weight: 700;
   color: whitesmoke;
   padding: 10px 35px;
   border: solid whitesmoke 1px;
  


 }

 .booking-btn a::before{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color:#d3d3d3c6;
  transition: width 0.5s ease;
  z-index: -1;
 }

 .booking-btn a:hover::before{
   width: 100%;
 }

 /*service*/


 .service{
   padding: 100px 20px;
   text-align: center;
 }
 
 .service-head{ 
   margin-bottom: 30px;
   position: relative;
   display: inline-block;
 }
 .service-head::after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color:#2b2b2b;
 }

 .service-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 20px;
 }
 .service-container{
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
 }
 .service-container:hover{
    transform: translateY(-5px);
    
  }

 .service-container .image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
 }
 .service-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 .service-container p{
  position: relative;
  display: inline-block;
  margin-top: 8px;
  font-size: 1.2em;
  color: #444;
  text-align: center;
 }
 .service-container p::after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -2px;
   width: 100%;
   height: 1px;
   background-color: #000;
 }



 /*about-section*/
 .about-us-head,.title-head{
  margin-bottom: 60px;
  text-align: center;
 }
 .about-us-head h2,.title-head h2{
  font-weight: 600;
  color: #2f2f2f;
  letter-spacing: 3px;
  position: relative;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  padding-bottom: 10px;
 }

 .about-us-head h2::after,.title-head h2::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  width:60%;
  height: 2px;
  background-color: #c8b6a6;
 }

 .about-center{
  display: flex;
  padding: 20px 10px;
  align-items: stretch;
  justify-content: space-around;
  gap: 30px;
  background-color: #F5EFEA;
  flex-wrap: wrap;
 }
 .side-image,
.center-text {
    height: 250px; 
    
}
.side-image{
  width: 400px;
}
 .side-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
 }
 .about-text{
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  
 }

 .about-text h1{
  font-size: 1.95em;
  margin-bottom: 15px;
 }
 
 .about-text p{
  font-size:0.95em ;
  line-height: 1.6;
 }
 .about-text span{
  font-weight: 900;
  font-size:1.5em;
  color: #ac886c;
  text-shadow: 0 0 6px rgba(172, 136, 108, 0.6);
  transition: all 0.3s ease;
  cursor: pointer;
}

.about-text span:hover {
  text-shadow: 0 0 12px rgba(172, 136, 108, 0.9);
}
 .about-btn{
 display: flex;
 justify-content: center;
 }
 .about-btn a{
   display: inline-block;
    height: 50px;
    width: 150px;
    padding:  12px 20px;
    background-color: #c8b6a6;
    color: #2f2f2f;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s;
 }

 .about-btn a:hover{
   background-color: #b3a190;
   color: #fff;
   
 }

 /*Pricing*/
  .pricing-head{
   margin-top: 40px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 30px;
    padding: 50px;
    background-color: #F5EFEA;
  }
  
  .product-container{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .product-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px rgba(0, 0, 0, 0.14);
  }
  .product-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .product-container h2{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 600;
    
  }
  .product-container .price{
    font-size: 1.6em;
    font-weight: 600;
    color: #B8A48F;
    letter-spacing: 5px;
  }
  
  .product-container .description p{
    margin: 10px 20px;
    font-size: 1.3em;
    color:#555;
    line-height: 1.5;
   
  }

  .product-container .product-btn a{
    display: inline-block;
    margin: 15px 0 20px 0;
    padding: 12px 35px;
    background: linear-gradient(135deg, #C8B6A6, #B3A190);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: all 0.3s ease;
  }


  /*testimonial*/

  .testimonial-head{
     margin-top: 20px;
  }

  .testimonials {
    padding: 80px 20px;
    background-color: #E8F0EC; /* soft spa green */
    text-align: center;
}

.testimonial-flexbox {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    gap:30px ;
    margin: 60px auto 0;
   
}

.testimonial-card {
  
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.testimonial-text {
    font-size: 16px;
    line-height: 1.7;
    color: #444;
    font-style: italic;
}

.client-name {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #9A8C7A;
}
.testimonial-card.full{
  width: 100%;
}
.testimonial-row{
  display: flex;
  gap: 30px;
}

.testimonial-card.large{
  flex: 2;
}
.testimonial-card.small{
  flex: 1;
}

/*info*/

.info{
   padding: 90px 20px;
  background-color: #F5EFEA;
}
.info-header{
  margin-top: 60px;
}

.spa-fact-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: stretch;
    gap: 50px;
}

/* Text side */
.fact-text {
    flex: 1;
}

.fact-text h2 {
    font-size: 38px;
    font-family: 'Playfair Display', serif;
    color: #2F2F2F;
    margin-bottom: 20px;
}

.fact-text p {
    font-size: 0.98em;
    line-height: 1.8;
    color: #555;
}

/* Image side */
.fact-image {
    
    flex: 1;
}

.fact-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}


/*footer*/

.footer {
    background-color: #2F2F2F;
    color: #eee;
    padding: 70px 20px 30px;
}

.footer-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Footer columns */
.footer-col {
    flex: 1;
    min-width: 220px;
}

.footer-col h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.footer-col h4 {
    font-size: 1.6em;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #C8B6A6;
}

.footer-col p {
    font-size: 0.98em;
    line-height: 1.7;
    color: #ccc;
}

/* Links */
.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-col ul li a{
    color: #ccc;
    text-decoration: none;
    transition:  0.3s ease-in-out;
    font-size: 1.2em;
}


.footer-col ul li a:hover {
    color: #B8A48F;
    border-bottom: #B8A48F solid 1px;
    
}


/* Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom p {
    font-size: 0.98em;
    color: #aaa;
}




/*media-screen*/

@media screen and (max-width: 768px) {
  .mobile-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #fff;
    position: relative;
    z-index: 1000;
  } 

  .mobile-links {
    position: fixed;
    left: -120%;
    top: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(15, 15 , 15, 0.85);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
   
    transition: all 0.4s ease-in-out;
    z-index: 100;
  }
  .mobile-links li a{
    position: relative;
  }
  .mobile-links li a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: all 0.3s ease-in-out;
  }
  .mobile-links li a:hover::before{
    width: 100%;
  }

  .mobile-links.active{
    left: 0;
  }

  
  .mobile-links li {
    padding: 20px;
  }
  
  .mobile-links a {
  font-size: 2em;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;

  }

  .navbar{
    display: none;
    background-color: #fff;
    width: 100%;
  }
 
 

  .hero{
    min-height: 60vh;
  }
  .hero-content{
    max-width: 90%;
    padding: 20px;
  }
  
  .service-head{
    max-width: 90%;
    
  }
  
  .service-content{
    grid-template-columns: repeat(2, 1fr);
  }


  .about-center{
    flex-wrap: wrap;
  }

  
  .testimonial-row{
    flex-direction: column;
    
  }

  spa-fact-content {
    flex-direction: column;
    gap: 30px;
  }

  .fact-text h2 {
    font-size: 1.6em;
    text-align: center;
  }

  .fact-text p {
    font-size: 0.95em;
    line-height: 1.7;
    text-align: center;
  }

  .fact-image {
    height: 260px;
  }

  .fact-image img {
    height: 100%;
  }
  .product-container .description p{
    margin: 10px 60px;
    font-size: 1.3em;
    color:#555;
    line-height: 1.5;
   
  }
}
